/*Applies to everything*/
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

/*Applies to classes in hero*/
.heading {
    display: flex;
    flex-direction: column;
    padding: 16px 160px;
    background-color: hsl(254, 81%, 19%);
    color: hsla(0, 0%, 100%, 0.8);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 75px;
    height: 75px;
    border-radius: 64px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 64px;
    margin: 96px 0;
}

.header-description {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
    color: hsla(0, 0%, 100%, 0.9);
}

.header-explanation {
    font-size: 18px;
}

.header-button {
    background-color: hsla(39, 100%, 50%, 0.85);
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 24px;
    padding: 8px 32px;
    border-radius: 8px;
    width: 150px;
    border: none;
    margin-top: 16px
}

/*Applies to classes in information*/
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(254, 15%, 90%);
    padding-bottom: 176px;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    margin: 48px 0;
    color: rgba(0, 0, 0, 0.9);
}

.information-content {
    display: flex;
    gap: 64px;
}

.reference {
    display: flex;
    flex-flow: wrap;
    height: 200px;
    width: 200px;
}

.reference-image {
    border-radius: 16px;
    border: 5px solid hsla(39, 100%, 50%, 0.85);
}

.reference-material {
    font-size: 18px;
    margin-top: 8px;
    text-align: center;
    color: hsla(0, 0%, 0%, 0.8);
}

/*Applies to classes within the quote section*/
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 288px;
    background-color: hsl(254, 30%, 80%);

}

.quote-content {
    font-size: 36px;
    font-weight: 300;
    color: hsla(0, 0%, 0%, 0.8);
}

.quote-reference {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
    color: hsla(0, 0%, 0%, 0.85);
}

/*Applies to content within the call-to-action section*/
.call-to-action {
    padding: 80px 160px;
    background-color: hsl(254, 15%, 90%);
}

.call-content {
    background-color: hsla(39, 100%, 50%, 0.85);
    padding: 48px 128px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}

.call-title {
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 24px;
}

.call-explanation {
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 18px;
}

.call-button {
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 24px;
    background-color: hsla(39, 100%, 50%, 0.85);
    border: 3px solid hsla(0, 0%, 100%, 0.9);
    border-radius: 8px;
    width: 150px;
    padding: 4px 16px;
}



/*Applies to types*/
ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    color: hsla(0, 0%, 100%, 0.8);
    text-decoration: none;
}