/*Applies to everything*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

/*Applies to classes in hero*/
.heading {
    background-color: hsl(254, 81%, 19%);
    color: hsla(0, 0%, 100%, 0.8);
    display: flex;
    flex-direction: column;
    padding: 16px 160px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 75px;
    height: 75px;
    border-radius: 64px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 64px;
    margin: 96px 0;
}

.header-description {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-description h1 {
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 48px;
    font-weight: 900;
}

.header-description p {
    font-size: 18px;
}

.header-description button {
    background-color: hsla(39, 100%, 50%, 0.85);
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 24px;
    width: 150px;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    margin-top: 16px
}

/*Applies to classes in information*/
.information {
    background-color: hsl(254, 15%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 176px;
}

.information h2 {
    color: rgba(0, 0, 0, 0.9);
    font-size: 36px;
    font-weight: 900;
    margin: 48px 0;
}

.information-content {
    display: flex;
    gap: 64px;
}

.reference {
    width: 200px;
    height: 200px;
    display: flex;
    flex-flow: wrap;
}

.information img {
    border: 5px solid hsla(39, 100%, 50%, 0.85);
    border-radius: 16px;
}

.information p {
    color: hsla(0, 0%, 0%, 0.8);
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
}

/*Applies to classes within the quote section*/
.quote{
    background-color: hsl(254, 30%, 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 288px;
}

.quote-content {
    color: hsla(0, 0%, 0%, 0.8);
    font-size: 36px;
    font-weight: 300;
}

.quote-reference {
    color: hsla(0, 0%, 0%, 0.85);
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

/*Applies to content within the call-to-action section*/
.call-to-action {
    background-color: hsl(254, 15%, 90%);
    padding: 80px 160px;
}

.call-content {
    background-color: hsla(39, 100%, 50%, 0.85);
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    padding: 48px 128px;
}

.call-to-action h3 {
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 24px;
}

.call-to-action p {
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 18px;
}

.call-to-action button {
    background-color: hsla(39, 100%, 50%, 0.85);
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 24px;
    width: 150px;
    border: 3px solid hsla(0, 0%, 100%, 0.9);
    border-radius: 8px;
    padding: 4px 16px;
}

/*Applies to copyright section*/
.copyright {
    background-color: hsl(254, 81%, 19%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

.copyright p{
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 18px;
}

/*Applies to types*/
ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    color: hsla(0, 0%, 100%, 0.8);
    text-decoration: none;
}